@font-face {
  font-weight: 800;
  font-family: NeueMachina;
  src: url(/resources/fonts/PPNeueMachina-Ultrabold.otf);
}
@font-face {
  font-weight: 400;
  font-family: Circular;
  src: url(/resources/fonts/CircularStd-Book.otf);
}
@font-face {
  font-weight: 700;
  font-family: Circular;
  src: url(/resources/fonts/CircularStd-Bold.otf);
}
