@font-face {
  font-weight: 400;
  font-family: Raleway;
  src: url(./resources/fonts/Raleway-Medium.ttf);
}
@font-face {
    font-weight: 600;
    font-family: Raleway;
    src: url(./resources/fonts/Raleway-SemiBold.ttf);
  }
  