@font-face {
  font-weight: 800;
  font-family: NeueMachina;
  src: url(/resources/fonts/PPNeueMachina-Ultrabold.otf);
}
@font-face {
  font-weight: 400;
  font-family: Circular;
  src: url(/resources/fonts/CircularStd-Book.otf);
}
@font-face {
  font-weight: 700;
  font-family: Circular;
  src: url(/resources/fonts/CircularStd-Bold.otf);
}

@mixin hero {
  font-family: NeueMachina, sans-serif;
  font-size: 42px;
  font-weight: 800;
  width:max-content;
  background: linear-gradient(
    89.81deg,
    #9845e8 -1.72%,
    #33d2ff 54.05%,
    #dd5789 99.78%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  @media screen and (max-width: 920px) {
    font-size: 40px !important;
  }
  @media screen and (max-width: 640px) {
    font-size: 32px !important;
  }
  @media screen and (max-width: 400px) {
    font-size: 24px !important;
  }
}
@mixin heading {
  font-family: Circular, sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: white;

  @media screen and (max-width: 920px) {
    font-size: 20px !important;
  }
  @media screen and (max-width: 640px) {
    font-size: 18px !important;
  }
  @media screen and (max-width: 400px) {
    font-size: 16px !important;
  }
}
@mixin subheading {
  font-family: Circular, sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #98a2b3;

  @media screen and (max-width: 920px) {
    font-size: 16px !important;
  }
  @media screen and (max-width: 640px) {
    font-size: 14px !important;
  }
  @media screen and (max-width: 400px) {
    font-size: 12px !important;
  }
}
@mixin subtext {
  font-family: Circular, sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #444444;

  @media screen and (max-width: 640px) {
    font-size: 12px !important;
  }
}
