@font-face {
  font-weight: 800;
  font-family: NeueMachina;
  src: url(/resources/fonts/PPNeueMachina-Ultrabold.otf);
}

@font-face {
  font-weight: 400;
  font-family: Circular;
  src: url(/resources/fonts/CircularStd-Book.otf);
}

@font-face {
  font-weight: 700;
  font-family: Circular;
  src: url(/resources/fonts/CircularStd-Bold.otf);
}

body {
  margin: 0;
  background-color: #000000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body .box {
  position: absolute;
  z-index: 999;
  width: 400px;
  height: 400px;
  background: -webkit-gradient(linear, left top, right top, color-stop(-2%, #9845e8), color-stop(56%, #33d2ff), color-stop(96%, #dd5789));
  background: linear-gradient(90deg, #9845e8 -2%, #33d2ff 56%, #dd5789 96%);
  opacity: 20%;
  margin-top: 240px;
  margin-left: 1208px;
}

@supports (-moz-appearance: none) {
  body .box {
    margin-top: 240px;
  }
}

body .content-wrapper {
  margin-left: 10vw;
  margin-right: 10vw;
  width: 80vw;
  height: auto;
}

body .content-wrapper .header-wrapper {
  margin-top: 8vh;
  width: 40vw;
  -webkit-animation-name: opacityTransition;
          animation-name: opacityTransition;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

body .content-wrapper .header-wrapper .divider {
  width: 643px;
  height: 16px;
  background: -webkit-gradient(linear, left top, right top, color-stop(-2%, #9845e8), color-stop(56%, #33d2ff), color-stop(96%, #dd5789));
  background: linear-gradient(90deg, #9845e8 -2%, #33d2ff 56%, #dd5789 96%);
  opacity: 20%;
  position: absolute;
  margin-top: 32px;
  z-index: -99;
}

@supports (-moz-appearance: none) {
  body .content-wrapper .header-wrapper .divider {
    margin-top: 40px;
  }
}

body .content-wrapper .header-wrapper .hero {
  font-family: NeueMachina, sans-serif;
  font-size: 64px;
  font-weight: 800;
  background: -webkit-gradient(linear, left top, right top, color-stop(-2%, #9845e8), color-stop(56%, #33d2ff), color-stop(96%, #dd5789));
  background: linear-gradient(90deg, #9845e8 -2%, #33d2ff 56%, #dd5789 96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media screen and (max-width: 900px) {
  body .content-wrapper .header-wrapper .hero {
    font-size: 48px !important;
  }
}

@media screen and (max-width: 720px) {
  body .content-wrapper .header-wrapper .hero {
    font-size: 40px !important;
  }
}

@media screen and (max-width: 560px) {
  body .content-wrapper .header-wrapper .hero {
    font-size: 32px !important;
  }
}

@media screen and (max-width: 420px) {
  body .content-wrapper .header-wrapper .hero {
    font-size: 24px !important;
  }
}

body .content-wrapper .header-wrapper .description {
  font-family: Circular, sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #98a2b3;
}

@media screen and (max-width: 900px) {
  body .content-wrapper .header-wrapper .description {
    font-size: 16px !important;
  }
}

@media screen and (max-width: 720px) {
  body .content-wrapper .header-wrapper .description {
    font-size: 16px !important;
  }
}

@media screen and (max-width: 560px) {
  body .content-wrapper .header-wrapper .description {
    font-size: 14px !important;
  }
}

@media screen and (max-width: 420px) {
  body .content-wrapper .header-wrapper .description {
    font-size: 12px !important;
  }
}

body .content-wrapper .header-wrapper .subtext {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding-top: 12px;
  padding-bottom: 12px;
}

body .content-wrapper .header-wrapper .subtext button {
  font-family: Circular, sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #98a2b3;
  color: white;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0%;
}

@media screen and (max-width: 900px) {
  body .content-wrapper .header-wrapper .subtext button {
    font-size: 16px !important;
  }
}

@media screen and (max-width: 720px) {
  body .content-wrapper .header-wrapper .subtext button {
    font-size: 16px !important;
  }
}

@media screen and (max-width: 560px) {
  body .content-wrapper .header-wrapper .subtext button {
    font-size: 14px !important;
  }
}

@media screen and (max-width: 420px) {
  body .content-wrapper .header-wrapper .subtext button {
    font-size: 12px !important;
  }
}

body .content-wrapper .header-wrapper .subtext img {
  margin-left: 8px;
}

body .content-wrapper .work-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 6vh;
}

body .content-wrapper .work-wrapper .projects {
  width: 60%;
}

body .content-wrapper .work-wrapper .projects .work-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 2vh;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-animation-name: opacityTransition;
          animation-name: opacityTransition;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
  opacity: 0;
}

body .content-wrapper .work-wrapper .projects .work-card .hover-arrow {
  opacity: 0;
  margin-left: 2vw;
  margin-right: 2vw;
}

body .content-wrapper .work-wrapper .projects .work-card .project-heading {
  font-family: Circular, sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: white;
}

@media screen and (max-width: 900px) {
  body .content-wrapper .work-wrapper .projects .work-card .project-heading {
    font-size: 22px !important;
  }
}

@media screen and (max-width: 720px) {
  body .content-wrapper .work-wrapper .projects .work-card .project-heading {
    font-size: 20px !important;
  }
}

@media screen and (max-width: 560px) {
  body .content-wrapper .work-wrapper .projects .work-card .project-heading {
    font-size: 18px !important;
  }
}

@media screen and (max-width: 420px) {
  body .content-wrapper .work-wrapper .projects .work-card .project-heading {
    font-size: 16px !important;
  }
}

body .content-wrapper .work-wrapper .projects .work-card .project-subheading {
  font-family: Circular, sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #98a2b3;
  margin-top: 4px;
}

@media screen and (max-width: 900px) {
  body .content-wrapper .work-wrapper .projects .work-card .project-subheading {
    font-size: 16px !important;
  }
}

@media screen and (max-width: 720px) {
  body .content-wrapper .work-wrapper .projects .work-card .project-subheading {
    font-size: 16px !important;
  }
}

@media screen and (max-width: 560px) {
  body .content-wrapper .work-wrapper .projects .work-card .project-subheading {
    font-size: 14px !important;
  }
}

@media screen and (max-width: 420px) {
  body .content-wrapper .work-wrapper .projects .work-card .project-subheading {
    font-size: 12px !important;
  }
}

@-webkit-keyframes opacityTransition {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes opacityTransition {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

body .content-wrapper .work-wrapper .projects .work-card:hover img {
  opacity: 1;
  -webkit-animation-name: opacityTransition;
          animation-name: opacityTransition;
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-transition: all;
  transition: all;
}

body .content-wrapper .work-wrapper .supporting-image {
  width: 40%;
  background-color: #9845e8;
  -o-object-fit: cover;
     object-fit: cover;
  background-image: url("/resources/projects/Cosmos-cover.png");
}

body .content-wrapper .footer-wrapper {
  margin-top: 12vh;
  -webkit-animation-name: opacityTransition;
          animation-name: opacityTransition;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  opacity: 0;
}

body .content-wrapper .footer-wrapper .divider {
  width: 80vw;
  height: 2px;
  background-color: #1d2939;
  margin-top: 40px;
}

body .content-wrapper .footer-wrapper .info .heading {
  font-family: NeueMachina, sans-serif;
  font-size: 64px;
  font-weight: 800;
  background: -webkit-gradient(linear, left top, right top, color-stop(-2%, #9845e8), color-stop(56%, #33d2ff), color-stop(96%, #dd5789));
  background: linear-gradient(90deg, #9845e8 -2%, #33d2ff 56%, #dd5789 96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media screen and (max-width: 900px) {
  body .content-wrapper .footer-wrapper .info .heading {
    font-size: 48px !important;
  }
}

@media screen and (max-width: 720px) {
  body .content-wrapper .footer-wrapper .info .heading {
    font-size: 40px !important;
  }
}

@media screen and (max-width: 560px) {
  body .content-wrapper .footer-wrapper .info .heading {
    font-size: 32px !important;
  }
}

@media screen and (max-width: 420px) {
  body .content-wrapper .footer-wrapper .info .heading {
    font-size: 24px !important;
  }
}

body .content-wrapper .footer-wrapper .info .subheading {
  font-family: Circular, sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #98a2b3;
  margin-top: 2px;
}

@media screen and (max-width: 900px) {
  body .content-wrapper .footer-wrapper .info .subheading {
    font-size: 16px !important;
  }
}

@media screen and (max-width: 720px) {
  body .content-wrapper .footer-wrapper .info .subheading {
    font-size: 16px !important;
  }
}

@media screen and (max-width: 560px) {
  body .content-wrapper .footer-wrapper .info .subheading {
    font-size: 14px !important;
  }
}

@media screen and (max-width: 420px) {
  body .content-wrapper .footer-wrapper .info .subheading {
    font-size: 12px !important;
  }
}

body .content-wrapper .footer-wrapper .info .subheading button {
  height: 28px;
  width: 64px;
  margin-left: 8px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

body .content-wrapper .footer-wrapper .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 40px;
  margin-top: 20px;
}

body .content-wrapper .footer-wrapper .links .subtext {
  font-family: Circular, sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #444444;
  width: auto;
}

body .content-wrapper .footer-wrapper .links .social {
  font-family: Circular, sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #444444;
}

body .content-wrapper .footer-wrapper .links .social a {
  margin-left: 16px;
  color: #444444;
}

body .content-wrapper .footer-wrapper .links .social:hover a:hover {
  color: white;
}

@media screen and (max-width: 900px) {
  .content-wrapper {
    margin-left: 8vw !important;
    margin-right: 8vw !important;
  }
}

@media screen and (max-width: 720px) {
  .content-wrapper {
    margin-left: 6vw !important;
    margin-right: 6vw !important;
  }
}

@media screen and (max-width: 560px) {
  .content-wrapper {
    margin-left: 4vw !important;
    margin-right: 4vw !important;
  }
}

@media screen and (max-width: 420px) {
  .content-wrapper {
    margin-left: 2vw !important;
    margin-right: 2vw !important;
  }
}
/*# sourceMappingURL=style.css.map */