@import "theme";

body {
  margin: 0;
  background-color: #000000;
}
.content-wrapper {
  margin-left: 10vw;
  margin-right: 10vw;
  width: 80vw;
  height: auto;
  .header-wrapper {
    margin-top: 10vh;
    .heading {
      font-family: NeueMachina, sans-serif;
      font-size: 64px;
      font-weight: 800;
      background: linear-gradient(90deg, #9845e8 -2%, #33d2ff 56%, #dd5789 96%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    .subheading {
      margin-top: 8px;
      font-family: Graphik, sans-serif;
      font-size: 18px;
      font-weight: 600;
      color: #98a2b3;
      line-height: 26px;
      width: 56vw;
    }
    .subtext {
      display: flex;
      margin-top: 1vh;
      cursor: pointer;
      width: max-content;
      padding-top: 10px;
      padding-bottom: 10px;
      button {
        font-family: Graphik, sans-serif;
        font-size: 18px;
        font-weight: 600;
        color: azure;
        background-color: transparent;
        border: none;
        cursor: pointer;
        padding: 0%;
      }
      img {
        margin-left: 8px;
      }
    }
  }
  .work-wrapper {
    margin-top: 10vh;
    .work-card {
      width: auto;
      display: flex;
      justify-content: space-between;
      img {
        opacity: 0;
        margin-inline-end: 8px;
      }
      .heading {
        margin-top: 2vh;
        font-family: Graphik, sans-serif;
        font-size: 24px;
        font-weight: 800;
        color: azure;
      }
      .subheading {
        margin-top: 4px;
        font-family: Graphik, sans-serif;
        font-size: 18px;
        font-weight: 600;
        color: #98a2b3;
      }
      &:hover {
        img {
          opacity: 1;
        }
      }
    }
  }
  .footer-wrapper {
    margin-top: 10vh;
    .divider {
      width: 80vw;
      height: 2px;
      background-color: #1d2939;
      margin-top: 80px;
    }
    .info {
      .heading {
        font-family: NeueMachina, sans-serif;
        font-size: 64px;
        font-weight: 800;
        color: azure;
      }
      .subheading {
        margin-top: 4px;
        font-family: Graphik, sans-serif;
        font-size: 18px;
        font-weight: 600;
        color: #98a2b3;
        button {
          height: 28px;
          width: 64px;
          margin-left: 8px;
          border: none;
          border-radius: 4px;
        }
      }
    }
    .links {
      display: flex;
      justify-content: space-between;
      margin-bottom: 40px;
      margin-top: 20px;
      .subtext {
        font-family: Graphik, sans-serif;
        font-size: 14px;
        font-weight: 600;
        color: #444444;
        width: auto;
      }
      .social {
        font-family: Graphik, sans-serif;
        font-size: 14px;
        font-weight: 600;
        color: #444444;
        a {
          margin-left: 8px;
        }
      }
    }
  }
}
