@font-face {
  font-weight: 800;
  font-family: NeueMachina;
  src: url(/resources/fonts/PPNeueMachina-Ultrabold.otf);
}

@font-face {
  font-weight: 400;
  font-family: Circular;
  src: url(/resources/fonts/CircularStd-Book.otf);
}

@font-face {
  font-weight: 700;
  font-family: Circular;
  src: url(/resources/fonts/CircularStd-Bold.otf);
}

body {
  margin: 0;
  background-color: #000000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@-webkit-keyframes moveFade {
  from {
    opacity: 0;
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  to {
    opacity: 1;
  }
}

@keyframes moveFade {
  from {
    opacity: 0;
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  to {
    opacity: 1;
  }
}

body .loader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0;
  -webkit-animation: moveFade 0.4s ease-in-out forwards;
          animation: moveFade 0.4s ease-in-out forwards;
  width: 100%;
  height: 100vh;
  background-color: #000000;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .loader .text {
  font-family: Circular, sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #444444;
  color: #6d6d6d;
  font-size: 16px;
}

@media screen and (max-width: 640px) {
  body .loader .text {
    font-size: 12px !important;
  }
}

body .loader .dots {
  font-family: Circular, sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #444444;
  color: #6d6d6d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 2px;
  font-size: 16px;
}

@media screen and (max-width: 640px) {
  body .loader .dots {
    font-size: 12px !important;
  }
}

@-webkit-keyframes dotsBlink {
  0% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}

@keyframes dotsBlink {
  0% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}

body .loader .dots .dot1 {
  -webkit-animation: dotsBlink 1s 0s infinite normal forwards;
          animation: dotsBlink 1s 0s infinite normal forwards;
}

body .loader .dots .dot2 {
  -webkit-animation: dotsBlink 1s 0.3s infinite normal forwards;
          animation: dotsBlink 1s 0.3s infinite normal forwards;
}

body .loader .dots .dot3 {
  -webkit-animation: dotsBlink 1s 0.6s infinite normal forwards;
          animation: dotsBlink 1s 0.6s infinite normal forwards;
}

body .content-wrapper {
  margin-left: 10vw;
  margin-right: 10vw;
  width: 80vw;
  padding-top: 8vh;
  opacity: 0;
  -webkit-animation: moveFade 0.6s 3.3s ease-in-out forwards;
          animation: moveFade 0.6s 3.3s ease-in-out forwards;
}

body .content-wrapper .header-wrapper {
  width: 40vw;
  -webkit-animation-name: opacityTransition;
          animation-name: opacityTransition;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

body .content-wrapper .header-wrapper .divider {
  width: 643px;
  height: 16px;
  background: -webkit-gradient(linear, left top, right top, color-stop(-2%, #9845e8), color-stop(56%, #33d2ff), color-stop(96%, #dd5789));
  background: linear-gradient(90deg, #9845e8 -2%, #33d2ff 56%, #dd5789 96%);
  opacity: 20%;
  position: absolute;
  margin-top: 32px;
  z-index: -99;
}

@supports (-moz-appearance: none) {
  body .content-wrapper .header-wrapper .divider {
    margin-top: 40px;
  }
}

body .content-wrapper .header-wrapper .hero {
  font-family: NeueMachina, sans-serif;
  font-size: 64px;
  font-weight: 800;
  background: -webkit-gradient(linear, left top, right top, color-stop(-2%, #9845e8), color-stop(56%, #33d2ff), color-stop(96%, #dd5789));
  background: linear-gradient(90deg, #9845e8 -2%, #33d2ff 56%, #dd5789 96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media screen and (max-width: 880px) {
  body .content-wrapper .header-wrapper .hero {
    font-size: 40px !important;
  }
}

@media screen and (max-width: 640px) {
  body .content-wrapper .header-wrapper .hero {
    font-size: 32px !important;
  }
}

@media screen and (max-width: 400px) {
  body .content-wrapper .header-wrapper .hero {
    font-size: 24px !important;
  }
}

body .content-wrapper .header-wrapper .description {
  font-family: Circular, sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #98a2b3;
}

@media screen and (max-width: 880px) {
  body .content-wrapper .header-wrapper .description {
    font-size: 16px !important;
  }
}

@media screen and (max-width: 640px) {
  body .content-wrapper .header-wrapper .description {
    font-size: 14px !important;
  }
}

@media screen and (max-width: 400px) {
  body .content-wrapper .header-wrapper .description {
    font-size: 12px !important;
  }
}

body .content-wrapper .header-wrapper .subtext {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding-top: 12px;
  padding-bottom: 12px;
}

body .content-wrapper .header-wrapper .subtext button {
  font-family: Circular, sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #98a2b3;
  color: white;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0%;
}

@media screen and (max-width: 880px) {
  body .content-wrapper .header-wrapper .subtext button {
    font-size: 16px !important;
  }
}

@media screen and (max-width: 640px) {
  body .content-wrapper .header-wrapper .subtext button {
    font-size: 14px !important;
  }
}

@media screen and (max-width: 400px) {
  body .content-wrapper .header-wrapper .subtext button {
    font-size: 12px !important;
  }
}

body .content-wrapper .header-wrapper .subtext .down-arrow {
  margin-left: 8px;
}

body .content-wrapper .work-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 6vh;
}

body .content-wrapper .work-wrapper .projects {
  width: 60%;
}

body .content-wrapper .work-wrapper .projects .work-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 2vh;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .content-wrapper .work-wrapper .projects .work-card .hover-arrow {
  opacity: 0;
  margin-left: 2vw;
  margin-right: 2vw;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

body .content-wrapper .work-wrapper .projects .work-card .project-heading {
  font-family: Circular, sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: white;
}

@media screen and (max-width: 880px) {
  body .content-wrapper .work-wrapper .projects .work-card .project-heading {
    font-size: 20px !important;
  }
}

@media screen and (max-width: 640px) {
  body .content-wrapper .work-wrapper .projects .work-card .project-heading {
    font-size: 18px !important;
  }
}

@media screen and (max-width: 400px) {
  body .content-wrapper .work-wrapper .projects .work-card .project-heading {
    font-size: 16px !important;
  }
}

body .content-wrapper .work-wrapper .projects .work-card .project-subheading {
  font-family: Circular, sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #98a2b3;
  margin-top: 4px;
}

@media screen and (max-width: 880px) {
  body .content-wrapper .work-wrapper .projects .work-card .project-subheading {
    font-size: 16px !important;
  }
}

@media screen and (max-width: 640px) {
  body .content-wrapper .work-wrapper .projects .work-card .project-subheading {
    font-size: 14px !important;
  }
}

@media screen and (max-width: 400px) {
  body .content-wrapper .work-wrapper .projects .work-card .project-subheading {
    font-size: 12px !important;
  }
}

body .content-wrapper .work-wrapper .projects .work-card:hover img {
  opacity: 1;
  -webkit-animation-name: opacityTransition;
          animation-name: opacityTransition;
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-transition: all;
  transition: all;
}

body .content-wrapper .work-wrapper .supporting-container {
  width: 40%;
}

body .content-wrapper .work-wrapper .supporting-container .supporting-image {
  height: 100%;
}

body .content-wrapper .work-wrapper .supporting-container .supporting-image #supporting-image {
  opacity: 0;
}

body .content-wrapper .work-wrapper .supporting-container .supporting-image img {
  width: 70%;
}

body .footer-wrapper {
  opacity: 1;
  position: fixed;
  background-color: black;
  bottom: 0;
  left: 0;
  margin-left: 10vw;
  width: 80vw;
  opacity: 0;
  -webkit-animation: moveFade 0.6s 3.3s ease-in-out forwards;
          animation: moveFade 0.6s 3.3s ease-in-out forwards;
}

body .footer-wrapper .divider {
  width: 100%;
  height: 2px;
  background-color: #1d2939;
  margin-top: 12px;
}

body .footer-wrapper .info .subheading {
  font-family: Circular, sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #98a2b3;
  margin-top: 20px;
}

@media screen and (max-width: 880px) {
  body .footer-wrapper .info .subheading {
    font-size: 16px !important;
  }
}

@media screen and (max-width: 640px) {
  body .footer-wrapper .info .subheading {
    font-size: 14px !important;
  }
}

@media screen and (max-width: 400px) {
  body .footer-wrapper .info .subheading {
    font-size: 12px !important;
  }
}

body .footer-wrapper .info .subheading button {
  height: 28px;
  width: 64px;
  margin-left: 8px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

body .footer-wrapper .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 16px;
  margin-top: 16px;
}

body .footer-wrapper .links .subtext {
  font-family: Circular, sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #444444;
  width: auto;
}

@media screen and (max-width: 640px) {
  body .footer-wrapper .links .subtext {
    font-size: 12px !important;
  }
}

body .footer-wrapper .links .social {
  font-family: Circular, sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #444444;
}

@media screen and (max-width: 640px) {
  body .footer-wrapper .links .social {
    font-size: 12px !important;
  }
}

body .footer-wrapper .links .social a {
  margin-left: 16px;
  color: #444444;
}

body .footer-wrapper .links .social:hover a:hover {
  color: white;
}

@media screen and (max-width: 880px) {
  .content-wrapper {
    width: 84vw !important;
    margin-left: 8vw !important;
    margin-right: 8vw !important;
  }
  .content-wrapper .header-wrapper .hero {
    width: 84vw;
  }
  .content-wrapper .header-wrapper .description {
    width: 76vw;
  }
  .content-wrapper .work-wrapper .projects {
    width: 100% !important;
  }
  .content-wrapper .work-wrapper .supporting-container {
    display: none !important;
  }
  .footer-wrapper {
    width: 84vw !important;
    margin-left: 8vw !important;
    margin-right: 8vw !important;
  }
}

@media screen and (max-width: 640px) {
  .content-wrapper {
    margin-left: 6vw !important;
    margin-right: 6vw !important;
    width: 88vw;
  }
  .content-wrapper .work-wrapper .projects a .hover-arrow {
    display: none;
  }
  .content-wrapper .work-wrapper .supporting-image {
    background-image: none !important;
    width: 0% !important;
  }
  .footer-wrapper {
    margin-left: 6vw !important;
    margin-right: 6vw !important;
    width: 88vw;
  }
}

@media screen and (max-width: 400px) {
  .content-wrapper {
    width: 88vw !important;
  }
  .content-wrapper .header-wrapper {
    width: 88vw !important;
  }
  .content-wrapper .header-wrapper .subtext .down-arrow {
    margin-left: 2px !important;
    -webkit-transform: scale(0.64);
            transform: scale(0.64);
  }
  .content-wrapper .work-wrapper .projects {
    width: 100% !important;
  }
  .content-wrapper .work-wrapper .supporting-container {
    display: none !important;
  }
  .content-wrapper .footer-wrapper {
    margin-top: 8vh !important;
  }
  .content-wrapper .footer-wrapper #copyText {
    margin-top: 8px;
    margin-left: 0px;
  }
  .content-wrapper .footer-wrapper .links {
    margin-top: 8px !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .content-wrapper .footer-wrapper .links .social {
    margin-top: 12px !important;
  }
  .content-wrapper .footer-wrapper .links .social a {
    margin-top: 12px;
    margin-left: 0 !important;
    margin-right: 12px !important;
  }
  .footer-wrapper {
    width: 88vw !important;
  }
}
/*# sourceMappingURL=style.css.map */